absl-py
asttokens
astunparse
backcall
backports
backports.functools_lru_cache
brotli
bzip2
ca-certificates
cachetools
certifi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib_metadata
inflate64
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
libffi
libsodium
markdown
markupsafe
matplotlib
matplotlib-inline
multivolumefile
nba-api
nest-asyncio
numpy
oauthlib
openssl
opt-einsum
packaging
pandas
parso
pickleshare
pillow
pip
platformdirs
prompt-toolkit
prompt_toolkit
protobuf
psutil
pure_eval
py7zr
pyasn1
pyasn1-modules
pybcj
pycryptodomex
pygments
pyparsing
pyppmd
python
python-dateutil
python_abi
pytz
pywin32
pyzmq
pyzstd
requests
requests-oauthlib
rsa
scikit-learn
scipy
setuptools
six
sqlite
stack_data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
texttable
threadpoolctl
tk
tornado
traitlets
typing-extensions
typing_extensions
tzdata
urllib3
vc
vs2015_runtime
wcwidth
werkzeug
wheel
wrapt
xz
zeromq
zipp
zlib
